@inject TennisShopDbContext dbContext;
@using TennisShopSystem.Data
@model TennisShopSystem.Web.ViewModels.OrderDetails.OrderDetailsViewModel

<h1>Your current order details!</h1>
<h2>Number of your Order: @Model.Id</h2>

<div>
    @foreach (var item in Model.Items)
    {
        <div class="container" style="display:inline">
            <div class="row">
                <div class="col-4">
                    <img class="card-img-top" style="width: 20rem;" src="@item.Product.ImageUrl" alt="Product Image">
                </div>
                <div class="card col-8 border-0">
                    <p style="font-size:25px;"><u>@item.Product.Title</u></p>
                    <p>
                        Price Per Item:
                        <b>BGN @($"{item.Product.Price:f2}")</b>
                    </p>
                    <p>Copies Ordered: <b>@($"{item.ItemQuantity}")</b></p>
                    <p>Total Price: @(item.ItemQuantity * item.Product.Price) </p>
                    <p>@item.Product.Description</p>
                    <p>Brand: <b>@(this.dbContext.Brands.Find(item.Product.BrandId).Name)</b></p>
                    <p>Category: <b>@(this.dbContext.Categories.Find(item.Product.CategoryId).Name)</b></p>
                    <p></p>
                </div>
            </div>
        </div>
    }
</div>
<h2 class="text-center">Delivery Details</h2>
<div class="text-center">
    <p>Order Total Price: BGN @Model.TotalPrice</p>
</div>
<div class="text-center">
    <p><strong>First Name: @Model.FirstName</strong></p>
    <p><strong>Last Name: @Model.LastName</strong></p>
    <p><strong>Delivery Address: @Model.Address</strong></p>
    <p><strong>Email: @Model.EmailAddress</strong></p>
    <p><strong>Phone Number: @Model.PhoneNumber</strong></p>
    @if (Model.Comment != null)
    {
        <p>Comment: <strong>@Model.Comment</strong></p>
    }
</div>

