@using TennisShopSystem.Data
@model TennisShopSystem.Web.ViewModels.ShoppingCart.ShoppingCartViewModel

@inject TennisShopDbContext DbContext;

<h1>Shopping Cart</h1>


<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
        <th>Quantity</th>
        <th></th>
        <th></th>
        <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td>@item.Product.Title</td>
            <td>@(this.DbContext.Brands.Find(item.Product.BrandId).Name)</td>
            <td>@(this.DbContext.Categories.Find(item.Product.CategoryId).Name)</td>
            <td>@item.Product.Price</td>
            <input type="hidden" value="@item.Product.Id"/>
            <td>
                <a asp-controller="ShoppingCart" asp-action="DecreaseItemQuantity" asp-route-id="@item.Product.Id.ToString()" class="btn btn-primary">Minus</a>
            </td>
            <td>@item.ItemQuantity</td>
            <td>
                <a asp-controller="ShoppingCart" asp-action="IncreaseItemQuantity" asp-route-id="@item.Product.Id.ToString()" class="btn btn-primary">Plus</a>
            </td>
            <td>
                <a asp-controller="ShoppingCart" asp-action="RemoveItem" asp-route-id="@item.Product.Id.ToString()" class="btn btn-danger">Remove</a>
            </td>
            <td>
                @((item.Product.Price * item.ItemQuantity).ToString("C"))
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Total: @Model.TotalPrice?.ToString("C")</b></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a asp-controller="Order" asp-action="ConfirmPurchase" class="btn btn-success">Purchase</a>
        </td>
    </tr>
    </tbody>
</table>