@model TennisShopSystem.Web.ViewModels.ShoppingCart.ShoppingCartViewModel

<h1>Shopping Cart</h1>


<table class="table">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
        <th>Quantity</th>
        <th></th>
        <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td>@item.Product.Brand</td>
            <td>@item.Product.Category</td>
            <td>@item.Product.Price</td>
            <input type="hidden" value="@item.Product.Id" />
            <td>
                <a asp-controller="ShoppingCart" asp-action="IncreaseItemQuantity" asp-route-id="@item.Product.Id.ToString()" class="btn btn-primary">Plus</a>
            </td>
            <td>@item.Quantity</td>
            <td>
                <a asp-controller="ShoppingCart" asp-action="DecreaseItemQuantity" asp-route-id="@item.Product.Id.ToString()" class="btn btn-primary">Minus</a>
            </td>
            <td>@((item.Product.Price * item.Quantity).ToString("C"))</td>
            <td>
                <a asp-controller="ShoppingCart" asp-action="RemoveItem" asp-route-id="@item.Product.Id.ToString()" class="btn btn-danger">Remove</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>@Model.TotalPrice?.ToString("C")</td>
            <td></td>
        </tr>
    }
    </tbody>
</table>